<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h2>Recording images</h2>
    <!-- <script>
        $(document).ready(function() {
            $.ajax({
                url: "/send_values",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({values: [1, 2]}), // You can specify the values here
                success: function(response) {
                    console.log(response);
                },
                error: function(xhr) {
                    console.log("Error:", xhr.responseText);
                }
            });
        });
    </script> -->
</body>
</html>